



.fullSittersProfile{
  width: 940px;
  height: 588px;
  background-color: $beigeColor;
  border-radius: $borderRadius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 30px 36px 30px;



.fullSittersProfile_div1{
  width: 400px;
  height: 588px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

 
  .sitterFullName{
    line-height: 48px;
    width: 400px;
    font-size: $fontSizeMedium;
  }

  p{
    font-size: $fontSizeSmall;
    line-height: 24px;
  }

  .fullSittersProfile_div1_div3{
    p:nth-child(odd){
    color: $outlineGrayColor;
  }
  }
  
  .fullSittersProfile_div1_div3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 260px;


  .abilityDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainBlackColor;
    .abilityDiv_p{
      color: $mainBlackColor;
    }
  }

 .sitterProfileDiv_sitterCanDiv,
  .sitter_fullProf_abilityDiv  {
    display: flex;
    width: 176px;
    height: 36px;
    justify-content: flex-end;
  }

  div{
    width: 400px;
    display: flex;
    justify-content: space-between;

  }
  }

}



.fullSittersProfile_div2{
  width: 460px;
  height: 588px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

 
  .sitterDescription_fullProfile{
    width: 430px;
    height: 465px;
   padding: 5px 10px 1px;
    border: solid 1px $mainLightColor;
    border-radius: $borderRadius;

    h3{
      margin: 0px;
      font-size: $fontSizeButtons;
      line-height: 28px;
      color: $mainDarkColor;
      display: flex;
      align-items: center;
      height: 65px;
      padding-left: 10px;
      
  
      img{
        margin-left: 10px;
        width: 70px;
        height: 70px;
      }

    
 
  }

  }

}

.sitter_fullProfile_btn_div{
  width: 460px;
  display: flex;
  justify-content: space-between;
}
}
.sitterDescription_fullProfile_text {
  line-height: 24px;
  font-size: $fontSizeSmall;
  display: flex;
  height: 385px;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0px 20px;
  
}


.sitterDescription_fullProfile_text::-webkit-scrollbar {
  width: 8px; /* Ширина всего элемента навигации */
}

.sitterDescription_fullProfile_text::-webkit-scrollbar-track {
  background: $beigeColor; /* Цвет дорожки */
}

.sitterDescription_fullProfile_text::-webkit-scrollbar-thumb {
  background-color: $mainLightColor; /* Цвет бегунка */
  border-radius: $borderRadius; /* Округление бегунка */
  border: none; /* Оформление границ бегунка */
}