@import "00_standard_styles.scss";


.headerMenu{
  display: flex;
  justify-content: space-between;
  min-width: 1160px;
  max-width: 1300px;
  width: 90%;
  align-items: center;
}


.headerMenu_div3{
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.headerMenu_div2{
  display: flex;
  justify-content: space-around;
  width: 539px;
}

.header_link{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $mainDarkColor;
  font-family: $fontFamilyCustom;
  font-size: $fontSizeSecondSmall;
  line-height: 24px;   
}