@import "00_standard_styles.scss";


.main_page_div3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // font-family: "Myfont";
  // color: $mainDarkColor;
  min-width: 1160px;
 
  h1{
    font-size: $fontSizeLarge;
    font-weight: $fontWeightStandart;
    line-height: 68px;
  }
 
}

.returnBlocksDiv{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 760px;
 height: 603px;
}

.mainPageDiv3_2_block{
 display: flex; 
 justify-content: space-between;
 align-items: center;
 min-width: 1160px;
 width: 80%;
}

.howPetsittersWork_optionsDivs{
  display: flex;
  height: 92px;
  border: solid 1px $mainLightColor;
  border-radius: $borderRadius;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 60px;
  
}

.howPetsittersWorkDescription{
display: block;
width: 500px;
text-align: start;
font-size: $fontSizeSmall;
padding-left: 30px;
}

a.gif .gifBackground{
    width:76px; 
    height:76px;
    visibility: hidden;
  }

  a.gif:hover .gifBackground{
    visibility: visible;
  }