@import "00_standard_styles.scss";

.sitters_div1_content{
  height:260px;
  min-width: 1160px;
  width: 100%;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
}

.sitters_div1_content_div1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

h1{
color: $mainDarkColor;
font-size: $fontSizeLarge;
font-weight: $fontWeightStandart;
}

p{
color: $mainBlackColor;
font-size: $fontSizeSmall22;
line-height: 36px;
width: 559px;
height: 182px;
}

}


.sitters_div1_content_div2{
  width: 340px;
  height: 260px;
  padding-top: 10px;
}