@import "standard_styles.scss";
@import "03_button_styles.scss";
/// 


.form_background{
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_form_div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 101;
}

.client_form{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 668px;
  border: $outline;
  border-radius: 30px;
  background-color: $whiteColor;
  font-family: "Myfont";

  .client_form_pic1{
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 90px;
  }
  
  .client_form_pic2{
    position: absolute;
    z-index: 1;
    left: 840px;
    top: 96px;
  }
  .client_form_li{
   list-style: none;
   line-height: 60px;
  }
}
.client_form_header{
  height: min-content;
  margin: 0px;
  color: $mainDarkColor;
  font-size: 48px;
}
.client_form_form_div{
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  height: 472px;
  z-index: 2;

  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
  }
 

label{
  color: $outlineGrayColor;
  font-size: 24px;
}

}

.client_form{
    label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 341px;
    align-items: center;
    }

.client_form_select_opt{
    display: none;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    width: inherit;
}

.form_select_active{
      display: flex;
      height: fit-content;
      overflow: visible;
      width: 400px;
      border-radius: 30px;
      background-color: $whiteColor;
      border: $outline;
      z-index: 2;
      position: absolute;
      top: 60px;
      left: 0px;

      li{
        cursor: pointer;
        width:390px;
        color: $mainDarkColor;
        border-radius: $borderRadius;
        padding-left: 10px;
      }
      li:hover{
        background-color: $mainLightColor;
      }
    }

    input{
    width: 301px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: $outline;
    box-shadow: $shadow;
    border-radius: 30px;
  }

    ._select{
    width: 360px;
    height: 60px;
    color: black;
    align-items: start;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $whiteColor;
    border: $outline;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    position: relative;
  

    option{
     height: max-content;
     color:$mainDarkColor;
     border-radius: $borderRadius;
     cursor: pointer;
     }

     }

    ._select:hover{
      cursor: pointer;
    }
     .price{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
       } 

       .price_select{
        width: 163px;
        padding-left: 14px;
        padding-right: 14px;
       }

   

  
   
  }
 