@import "sitters_page.scss";
@import "client_form_styles.scss";
@import "03_button_styles.scss";
@import "standard_styles.scss";

 


html{
  width: 100%;
  scroll-behavior: smooth;
  font-family: "MyFont";
  background-color: $beigeColor;
}

body{
 background-color: $whiteColor;
 margin:0px;
 font-family: "MyFont";
}

.main_page{
  width: 100%;
  min-width: 1280px;
  height: 5166px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: stretch;
}

.header{
  height: 96px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: $mainLightColor;
}

.main_content{
  height: 4447px;
  width: inherit;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.div1{
  height:340px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}
.div2{
  height:1362px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}
.div3{
  height:742px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}
.div4{
  height:840px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}
.div5{
  height:239px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}
.div6{
  height:566px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}

.form_div{
  display: block;
}

.footer{
  height: 400px;
  background-color: $mainLightColor;
}