@import "00_standard_styles.scss";

.sitters_page{
  width: 100%;
  min-width: 1280px;
  height: 2124px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: stretch;
}


.main_content_sitters{
  height: 1478px;
  width: inherit;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.div_sitters_1{
  height:260px;
  background-color: $mainLightColor;
  padding-left: 60px;
  padding-right: 60px;
}

.div_sitters_2{
  height:1050px;
  background-color: $mainLightColor;
  padding: 60px;
}