
 
 .client_form_sitters_page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  min-width: 1160px;
  height: 310px;
  font-family: $fontFamilyCustom;
  color: $mainDarkColor;

  .client_form_sitters_page_div1,
  .client_form_sitters_page_div2,
  .client_form_sitters_page_div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: fit-content;
  }

  .client_form_sitters_page_li{
   list-style: none;
   line-height: 40px;
  }

  label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 361px;
    align-items: center;
    }

.client_form_sitters_page_select_opt{
    display: none;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    width: inherit;
}

.form_select_active{
      display: flex;
      height: fit-content;
      overflow: visible;
      width: 361px;
      border-radius: 30px;
      background-color: $beigeColor;
      border: $outline;
      z-index: 2;
      position: absolute;
      top: 40px;
      left: 0px;

      li{
        cursor: pointer;
        list-style: none;
        width:351px;
        color: $mainDarkColor;
        border-radius: $borderRadius;
        padding-left: 10px;
      }
      li:hover{
        color: $beigeColor;
        background-color: $mainDarkColor;
      }
    }

    .telInput{
      width: 321px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: $outline;
    border-radius: 30px;
    background-color: $beigeColor;
    }
   input{
    width: 321px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: $outline;
    border-radius: 30px;
    font-size: $fontSizeSmall;
    background-color: $beigeColor;
 }
input::placeholder{
  font-size: 18px;
  line-height: 40px;
  color: $mainBlackColor;
}

    ._select_client_form_sitters_page_select_opt{
    width: 321px;
    height: 40px;
    color: black;
    align-items: start;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $beigeColor;
    border: $outline;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
 


    option{
     height: max-content;
     color:$mainDarkColor;
     border-radius: $borderRadius;
     cursor: pointer;
     }

     }

    ._select:hover{
      cursor: pointer;
    }
     .price{
      display:flex;
      flex-direction: row;
      width: 361px;
      justify-content: space-between;

      input{
        width: 160px;
        height: 40px;
        padding-left: 14px;
        padding-right: 14px;
        font-family: $fontFamilyCustom;
        font-size: $fontSizeSmall;
      }
      .li_price_select{
        width: 151px;
       }
       } 

       .date_picker{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
  
        input{
          font-family: $fontFamilyCustom;
          font-size: $fontSizeSmall;
        }

         } 

       .price_select{
        width: 132px;
        height: 40px;
        padding-left: 60px;
        padding-right: 14px;
        background-color: transparent;
        cursor: pointer;

        .client_form_sitters_page_select_opt{
          width: 161px;
        }

       }
}

.client_form_sitters_page_form_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  min-width: 1160px;
 

label{
  color: $mainDarkColor;
  font-size: $fontSizeSmall;
}

}


